/* screen - about-us */

.about-us {
  align-items: center;
  background-color: var(--ffffffff);
  display: flex;
  flex-direction: column;
  height: 1920px;
  overflow: hidden;
  padding: 8px 0;
  width: 1080px;
}

.about-us .top-page {
  align-items: flex-end;
  display: flex;
  margin-right: 13.0px;
  min-width: 1049px;
}

.about-us .place {
  align-self: center;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 641px;
  margin-top: 37.0px;
  min-height: 29px;
  min-width: 59px;
  white-space: nowrap;
}

.about-us .about-us-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23.5px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 89px;
  white-space: nowrap;
}

.about-us .place-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23.5px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 75px;
  white-space: nowrap;
}

.about-us .overlap-group {
  height: 145px;
  margin-left: 4.0px;
  margin-top: 34px;
  position: relative;
  width: 474px;
}

.about-us .we-are-a-family-owne {
  height: 250px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 3.0px;
  margin-top: 47px;
  text-align: center;
  width: 815px;
}

.about-us .who-are-we-1 {
  margin-left: 0;
  margin-top: 58px;
}

.about-us .meet-ryan-jones-the {
  height: 250px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 7.0px;
  margin-top: 8px;
  text-align: center;
  width: 815px;
}

.about-us .who-are-we-2 {
  margin-top: 22px;
}

.about-us .step-into-cotton-jon {
  height: 250px;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 45.0px;
  margin-top: 44px;
  text-align: center;
  width: 815px;
}
