:root { 
  --black: #000000;
  --cloud-burst: #1b2d55;
  --dove-gray: #707070;
  --ffffffff: #ffffff;
  --x34355eff: #34355e;
 
  --font-size-l: 35px;
  --font-size-m: 30px;
  --font-size-s: 25px;
  --font-size-xl: 40px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 14px;
 
  --font-family-adobeclean-bold: "AdobeClean-Bold", Helvetica;
  --font-family-adobeclean-regular: "AdobeClean-Regular", Helvetica;
  --font-family-fatfrank: "FatFrank", Helvetica;
  --font-family-fatfrank-heavy: "FatFrank-Heavy", Helvetica;
  --font-family-proximanova-bold: "ProximaNova-Bold", Helvetica;
  --font-family-proximanova-extrabold: "ProximaNova-Extrabold", Helvetica;
  --font-family-proximanova-medium: "ProximaNova-Medium", Helvetica;
  --font-family-proximanova-regular: "ProximaNova-Regular", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
  --font-family-source_serif_pro: "Source Serif Pro", Helvetica;
}
.adobeclean-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-adobeclean-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.fatfrank-heavy-normal-rhino-30px {
  color: var(--x34355eff);
  font-family: var(--font-family-fatfrank-heavy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.adobeclean-regular-normal-dove-gray-30px {
  color: var(--dove-gray);
  font-family: var(--font-family-adobeclean-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.segoeui-regular-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
