/* screen - web-1920-1 */

.web-1920-1 {
  align-items: center;
  background-color: var(--ffffffff);
  display: flex;
  flex-direction: column;
  height: 1920px;
  overflow: hidden;
  padding: 8px 0;
  width: 1080px;
}

.web-1920-1 .top-page {
  align-items: flex-end;
  display: flex;
  margin-right: 13.0px;
  min-width: 1049px;
}

.web-1920-1 .place {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 641px;
  margin-top: 37.0px;
  min-height: 29px;
  min-width: 59px;
  white-space: nowrap;
}

.web-1920-1 .about-us {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23.5px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 89px;
  white-space: nowrap;
}

.web-1920-1 .place-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23.5px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 75px;
  white-space: nowrap;
}

.web-1920-1 .overlap-group {
  height: 145px;
  margin-left: 4.0px;
  margin-top: 34px;
  position: relative;
  width: 474px;
}

.web-1920-1 .who-are-we-2 {
  margin-top: 20px;
}

.web-1920-1 .who-are-we-1 {
  margin-left: 0;
  margin-top: 76px;
}

.web-1920-1 .we-are-a-family-owne {
  height: 250px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 3.0px;
  margin-top: 63px;
  text-align: center;
  width: 815px;
}
